:root {
  --bg-light: #ffffff;
  --text-light: #000000;
  --bg-dark: #000000;
  --text-dark: #ffffff;
  --bg: var(--bg-light);
  --text: var(--text-light);
}

[data-theme="dark"] {
  --bg: var(--bg-dark);
  --text: var(--text-dark);
}