<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.neuraljunkie.nj-remote</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/nj-remote</string>
    <string>-root</string>
    <string>REPLACE_ROOT</string>
    <string>-addr</string>
    <string>127.0.0.1:19876</string>
    <string>-token</string>
    <string>REPLACE_TOKEN</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/tmp/nj-remote.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/nj-remote.err</string>
</dict>
</plist>
